@using Products.ViewModels.Account
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginViewModel
@{
    ViewData["Title"] = "Products' catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>
        Войти в аккаунт
    </h1>
</div>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group" style="padding: 5px">
        <label class="control-label" asp-for="Username"></label><br />
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group" style="padding: 5px">
        <label class="control-label" asp-for="Password"></label><br />
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group" style="padding: 5px">
        <input type="submit" value="Войти" class="btn btn-outline-success btn-block" />
    </div>
</form>